* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.card-container {
  display: flex;
  gap: 20px;
}

.card {
  width: 100px;
  height: 200px;
  border: 2px solid black;
  /* background-color: red; */
}